{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

  {% if request.user.is_authenticated  %}
    {{ user }}
  {% else %}
      <p>반갑습니다.로그인 부탁드립니다.</p>
  {% endif %}
  
  <table class="table">
    <thead class='talbe-dark'>
      <tr>
        <th scope="col">id</th>
        <th scope="col">사용자</th>
      </tr>
    </thead>
    <tbody>
      {% for form in forms %}
        <tr>
          <th scope="row">{{ form.pk }}</th>
          <td>
            <a href="{% url 'accounts:detail' form.pk %}">{{ form.username }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}
